global
    daemon
    maxconn 50000
    stats socket /var/lib/haproxy/haproxy.sock mode 0600 level admin
defaults
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    log     global
    option  dontlognull

listen kunernetes_cluster
  bind    {{ keepalived_vip }}:6443
  mode    tcp
  balance leastconn
  option  httpchk
  timeout client 120m
  timeout server 120m
  default-server on-marked-down shutdown-sessions on-marked-up shutdown-backup-sessions
  server  {{ master0_host.stdout[:-1] }} {{ hostvars[groups['master'][0]]['ansible_host'] }}:6443 check inter 2000 rise 3 fall 3
  server  {{ master1_host.stdout[:-1] }} {{ hostvars[groups['master'][1]]['ansible_host'] }}:6443 check inter 2000 rise 3 fall 3 backup 
  server  {{ master2_host.stdout[:-1] }} {{ hostvars[groups['master'][2]]['ansible_host'] }}:6443 check inter 2000 rise 3 fall 3 backup
